<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850711888153-g7c6vej7ol0810p4kfgek51j6vi30a72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850711888153-g7c6vej7ol0810p4kfgek51j6vi30a72</string>
	<key>API_KEY</key>
	<string>AIzaSyDb224kv-Gh48-GF910jZvddtsQcK34mb0</string>
	<key>GCM_SENDER_ID</key>
	<string>850711888153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-17af1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-17af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850711888153:ios:e4bfa469e7e298eb588588</string>
</dict>
</plist>